<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820916323111-2cog4vb1fn0ltq191g41h8t1sap32at5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820916323111-2cog4vb1fn0ltq191g41h8t1sap32at5</string>
	<key>API_KEY</key>
	<string>AIzaSyBT6I__fgwG1N1Cmt4FlE61AHvpE9spnLA</string>
	<key>GCM_SENDER_ID</key>
	<string>820916323111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.rjuszczyk.radeksmultiplatform.iosApp</string>
	<key>PROJECT_ID</key>
	<string>radeksmultiplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>radeksmultiplatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820916323111:ios:1471387368d81f7a351f02</string>
	<key>DATABASE_URL</key>
	<string>https://radeksmultiplatform.firebaseio.com</string>
</dict>
</plist>